body{
    margin: 0;
    background-color: #D8D4CD;
    font-size: 22px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display:flex;
    padding: 10px;
    justify-content: space-around;

}
.navbar p{
    display: inline-block;
    padding: 10px 10px;

}
.introduction{
    display:flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    background-image: url('nail.jpg');
    background-size:contain;
    background-color: #D8D4CD;
   
}
.introduction div{
    background-color: #7B8279;
    width: 100%;
    margin:auto;
}